<h1>Cuisines!</h1>

<form action="/cuisines" method="post">
  <label for="cuisine">Add New Cuisine!!</label>
  <input id="cuisine" type="text" name="cuisine">

  <button type="submit" name="button">Add!</button>
</form>
<ul>
  @foreach (var cuisine in Model)
  {
  <li> @cuisine.GetCuisine()</li>
  }
</ul>
